{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.uncomplicate/clojure-sound {:mvn/version "0.3.0"}
        com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
        metosin/malli {:mvn/version "0.17.0"}
        org.clojure/core.async {:git/sha "c5a524c6607a792bc51a81f727e7d24ef4cae23b" :git/url "https://github.com/clojure/core.async"}
        metosin/jsonista {:mvn/version "0.3.8"}
        com.microsoft.onnxruntime/onnxruntime {:mvn/version "1.20.0"}
        com.microsoft.onnxruntime/onnxruntime_gpu {:mvn/version "1.20.0"}
        org.clojure/java.data {:mvn/version "1.2.107"}
        ring/ring-core {:mvn/version "1.13.0"}
        hato/hato {:mvn/version "1.0.0"}
        better-cond/better-cond {:mvn/version "2.1.5"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.22.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :run {:main-opts ["-m" "voice-fn.transport.local.audio"]
        :exec-fn voice-fn.transport.local.audio/main}
  :dev {:extra-paths ["dev"]
        :extra-deps {djblue/portal {:mvn/version "0.58.5"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}}
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.52.0"}}
              :main-opts ["-m" "nrepl.cmdline"
                          "--middleware" "[cider.nrepl/cider-middleware]"
                          "--port" "52158"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      midje/midje {:mvn/version "1.10.10"}
                      lambdaisland/kaocha           {:mvn/version "1.0.732"}
                      lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}}
  :with-examples {:extra-deps {org.clojure/data.xml {:mvn/version "0.0.8"}
                               ring/ring-jetty-adapter {:mvn/version "1.13.0"}
                               metosin/reitit {:mvn/version "0.7.2"}}
                  :extra-paths ["../examples/src"]}
  :clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}}}
